@font-face {
    font-family: Avenir;
    src: url("AvenirLTStd-Roman.otf");
}

body{
    margin: 0 auto;
    font-family: Avenir, sans-serif;
    height: 100vh;
    background: no-repeat top center;
    background-image: url("bg2150.jpg");
    background-size: cover;
    color: #f9f9f9;
}
.wrapper{
    max-width: 100%;
    margin: auto;
    align-items: center;
    margin-top: 480px;
}

@media only screen and (max-width: 1400px){
    body {
        background-image: url("bg1400.jpg");
    }
    .wrapper .botaoAssine{
        max-width: 500px;
        width: 100%;
    }
    .wrapper{
        margin-top: 250px;
    }
}

@media only screen and (max-width: 750px){
    body {
        background-image: url("bg750.jpg");
    }
    .wrapper{
        margin-top: 250px;
    }
    .wrapper .botaoAssine{
        max-width: 300px;
        width: 100%;
    }
    .wrapper #mensal{
        font-size: 14px;

    }
    .wrapper #barra{
        font-size: 14px;

    }
    .wrapper #anual{
        font-size: 14px;

    }
    h1{
        font-size: 22px;
    }
}

.entrar{
    padding: 10px 36px;
    height: 55px;
}

.botaoEntrar{
    cursor:pointer;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: none;
    height: 50px;
    background-color: #4e4a59;
    border: 0;
    color: #f9f9f9;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    float: right;
}

#logo{
    max-width: 180px;
    height: 55px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

h1{
    font-size: 28px;
    text-align: center;
    margin-bottom: 24px;
}

.botaoAssine{
    cursor:pointer;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7b00d6;
    color: #f9f9f9;
    border: 0;
    height: 68px;
    max-width: 700px;
    font-size: 18px;
    line-height: 18px;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

.letrasPequenas{
    font-size: 16px;
    color: #f9f9f9;
    line-height: 26px;
}

.seta{
    background-color: transparent;
    border: 0;
    display: flex;
    margin: auto;
}

.caixaLetras{
    width: fit-content;
    margin: auto;
    align-items: center;
    margin-bottom: 45px;
}